.DS_Store
archive
build
lib/binding
lib/mapnik_settings.js
node_modules
src/*.*~
npm-debug.log
test/tmp
test/data/images/*actual*
test/data/vector_tile/*actual*
test/data/vector_tile/pasted/*actual*
*.7z
node.exe*
*.pdb
mapnik-sdk
sdk
foo
iwyu.sh
package
documentation
mason/
mason_packages/
mason-postgis-config.env
local-postgres/
postgres.log
local-unix-socket/