.gitattributes
docs
bench
.gitignore
.npmignore
.gitmodules
node_modules
lib/binding
build
build-tmp*
test
benchmark
configure
Makefile
.travis.yml
appveyor.yml
examples
tools
vcbuild.bat
sdk
package/src/mapnik_.cpp
package/src/mapnik_.hpp
*tgz
foo
iwyu.sh
documentation
package
__nvm
mason
mason_packages
deps/wagyu/tests
deps/wagyu/docs
deps/geometry/tests
.toolchain
local-postgres
deps/protozero/test
.mason
mason-postgis-config.env
local.env
postgres.log
vcpkg
.vscode
